@tailwind base;
@tailwind components;
@tailwind utilities;


/* Define a keyframes animation for blinking */
@keyframes blink {
    10% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  /* Apply the animation to the button */
  .blinking-text {
    animation: blink 2s infinite; /* Adjust the duration as needed */
  }


  @layer base {
    .rahil {
      @apply text-4xls
      
    }
  }

  input::placeholder {
   @apply max-sm:text-[9px] 
  }


  .lgh{
    @apply lg:text-4xl max-sm:text-2xl md:text-2xl font-bold text-center
  }
  .lgp{
    @apply  font-normal text-center lg:w-[990px] max-sm:text-base
  }

  nav ul li{
    font-size: 12px;
    font-weight: 400;
    margin-top: 15px;
  }

  .navbarbuttons{
    position: relative;
    top: -6px;
  }

/* ul li{
  @apply font-bold
} */
  .bdd{
    @apply text-[18px] font-bold 
  }
  .bdm{
    @apply  font-normal text-center lg:w-[990px] max-sm:text-base
  }

  .bd ul li{
    @apply font-bold
  }


  .list ul li{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
  }

.lg{
  @apply  lg:w-[541px] lg:h-[239px]
}

/* .sm{
  @apply  
} */



  

  


